# Игнорировать виртуальную среду
venv/
*.venv/
env/
ENV/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать IDE-файлы
.vscode/
.idea/

# Игнорировать логи
*.log
logs/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db